<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/drones_view.js" defer>
    </script>
    <link rel="stylesheet" href="styles/drones_view.css">
</head>
<body>
    <div id="container">
        <h1 id = "title">Drones View</h1>
        <div id="droneDiv">
            <input id="inputDroneID" placeholder="Drone ID to Add">
            <input id="inputDroneTag" placeholder="Drone Tag to Add">
            <input id="inputDroneFuel" placeholder="Drone Fuel">
            <input id="inputDroneCapacity" placeholder="Drone Capacity">
            <input id="inputDroneSales" placeholder="Sales">
            <input id="inputFlownBy" placeholder="Flown By">
            <button id="addDroneBtn">Add Drone</button>
            <br>
            <br>
            <table id="droneTable" class="sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tag</th>
                        <th>Fuel</th>
                        <th>Capacity</th>
                        <th>Sales</th>
                        <th>Flown By</th>
                        <th>Swarm ID</th>
                        <th>Swarm Tag</th>
                        <th>Hover</th>
                        <th>Remove Drone</th>
                    </tr>
                </thead>
                <tbody id="testBody"></tbody>
            </table>
        </div>
    </div>
</body>