<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/employees_view.js" defer>
        // window.onload = loadEmployeeData;
    </script>
    <link rel="stylesheet" href="styles/employees_view.css">
</head>
<body id="body">
    <div hidden id="allow">
        <div id="container">
            <h1 id = "title">Employees</h1>
            <label for="username">Username:</label>
            <input type="text" id="username">
            <label for="taxID">&nbsp &nbsp Tax ID:</label>
            <input type="text" id="taxID">
            <button type="button" id="clearBtn">Clear</button>
        </div>
        <div id="container">
            <label for="hireUsernameText">Prospective Employee Username:</label>
            <input type="text" name="hireUsernameText" id="hireUsernameText" placeholder="username">
            <input type="submit" id="hireSubmit" value="Hire">
        </div>
        <div id="container">
            <p id="message"></p>
        </div>
        <div id="employeeDiv">
            <table id="employeeTable" class="sortable">
                <thead>
                    <tr>
                        <th>username</th>
                        <th>taxID</th>
                        <th>salary</th>
                        <th>hired</th>
                        <th>employee_experience</th>
                        <th>licenseID</th>
                        <th>Piloting Experience</th>
                        <th>Is Manager</th>
                    </tr>
                </thead>
                <tbody id="testBody"></tbody>
            </table>
        </div>
        </div>
    </div>
    <div id="deny">
        <p id="message">You are not signed in</p>
    </div>
    
</body>