<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/home.js" defer></script>
</head>
<body>
    <div id="container">
        <h1 id = "title">Restaurant Express</h1>
    </div>

    <div id="first_query">
            <label id="query_label" for="query_input">
                    ->
            </label>
            <input type="button" id="query_input" name="query_input" value="Login" onclick="location.href='login';">
            <p id="select_output"></p>
    </div>
    <div id="first_query">
        <form method="POST" id="query_form">
            <label id="query_label" for="query_input">
                    ->
            </label>
            <input type="button" id="query_input" name="query_input" value="Register" onclick="location.href='registration';">
        </form>
    </div>
</body>