<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/ingredients_view.js" defer>
    </script>
    <link rel="stylesheet" href="styles/ingredients_view.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="employees_view">Employee View</a>
        <a href="ingredients_view">Ingredients View</a>
        <a href="locations_view">Locations View</a>
        <a href="owners_view">Owners View</a>
        <a href="pilots_view">Pilots View</a>
        <a href="services_view">Services View</a>
    </div>
    <div id="container">
        <h1 id = "title">Ingredients View</h1>
        <label for="username">Name:</label>
        <input type="text" id="name">
        <label for="taxID">&nbsp &nbsp Location:</label>
        <input type="text" id="location">
        <button type="button" id="clearBtn">Clear</button>
    </div>
    <div id="ingredientDiv">
        <table id="ingredientTable" class="sortable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Amount Available</th>
                    <th>Low Price</th>
                    <th>High Price</th>
                </tr>
            </thead>
            <tbody id="testBody"></tbody>
        </table>
    </div>
    <div id="ingredientDiv2">
        <h1>Ingredients Table</h1>
        <input type="text" id="inputBarcode" placeholder="Barcode to Add">
        <input type="text" id="inputIngredientName" placeholder="Name of Ingredient">
        <input type="text" id="inputWeight" placeholder="Weight">
        <button id="submitIngredient">Add Ingredient</button>
        <br>
        <br>
        <table id="ingredientTable2" class="sortable">
            <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Remove Ingredient</th>
                </tr>
            </thead>
            <tbody id="testBody"></tbody>
        </table>
    </div>
    </div>
</body>