<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/locations_view.js" defer>
    </script>
    <link rel="stylesheet" href="styles/locations_view.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="employees_view">Employee View</a>
        <a href="ingredients_view">Ingredients View</a>
        <a href="locations_view">Locations View</a>
        <a href="owners_view">Owners View</a>
        <a href="pilots_view">Pilots View</a>
        <a href="services_view">Services View</a>
        <a href="restaurants">Restaurants Purchase</a>
    </div>
    <div id="container2">
        <h1 id = "title1">Locations</h1>
        <label for="username">Name:</label>
        <input type="text" id="name">
        <label for="taxID">&nbsp &nbsp Number of Drones:</label>
        <input type="text" id="drones">
        <label for="xCoordInput">&nbsp &nbsp X_Coord:</label>
        <input type="text" id="xCoordInput">
        <label for="yCoordInput">&nbsp &nbsp Y_Coord:</label>
        <input type="text" id="yCoordInput">
        <label for="spaceInput">&nbsp &nbsp Space:</label>
        <input type="text" id="spaceInput">
        <button type="button" id="clearBtn">Clear</button>
        <button type="button" id="addLocationBtn">Add Location</button>
    </div>

    <div id="AddHeader">
        <h1 id = "title">Add Restaurant</h1>
    </div>

    <div id="addedText">
        <label for="restName">Name</label>
        <input type="text" id="restName"  placeholder="Restaurant Name">
        <label for="rating">Rating</label>
        <input type="text" id="rating"  placeholder="1 - 5 rating">
        <label for="spent">Spent</label>
        <input type="text" id="spent"  placeholder="spent">
        <label for="location">Location</label>
        <input type="text" id="location"  placeholder="location">
        <button type="button" id="addRestBtn">Add Restaurant</button>
    </div>

    <div id="locationDiv">
        <table id="locationTable" class="sortable">
            <thead>
                <h1>Locations View</h1>
                <tr>
                    <th>Name</th>
                    <th>X Coord</th>
                    <th>Y Coord</th>
                    <th>Num Restaurants</th>
                    <th>Num Delivery Services</th>
                    <th>Num Drones</th>
                </tr>
            </thead>
            <tbody id="testBody"></tbody>
        </table>
        <table id="locationTable2" class="sortable">
            <thead>
                <h1>All Locations</h1>
                <tr>
                    <th>Label</th>
                    <th>X Coord</th>
                    <th>Y Coord</th>
                    <th>Space</th>
                </tr>
            </thead>
            <tbody id="testBody"></tbody>
        </table>
    </div>
    </div>
</body>