<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/home.js" defer></script>
</head>
<body>
    <div id="container">
        <h1 id = "title">Login Page</h1>
    </div>

    <div id="loginText">
        <label for="Name">Username:</label>
        <input type="text" id="Name" name="Name" placeholder="Enter Username">
    </div>

    <div id="log-out-div">
        <button hidden id="log-out-button">Log out</button>
    </div>
</body>