<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/home.js" defer></script>
</head>
<body>
    <div id="container">
        <h1 id = "title">Login as:</h1>
    </div>

    <div id="first_query">
            <label id="query_label" for="query_input">
                    ->
            </label>
            <input type="button" id="query_input" name="query_input" value="Worker" onclick="location.href='loginWorker';">
            <p id="select_output"></p>
    </div>
    <div id="first_query">
        <form method="POST" id="query_form">
            <label id="query_label" for="query_input">
                    ->
            </label>
            <input type="button" id="query_input" name="query_input" value="Pilot" onclick="location.href='loginPilot';">
        </form>
    </div>
    <div id="first_query">
        <form method="POST" id="query_form">
            <label id="query_label" for="query_input">
                    ->
            </label>
            <input type="button" id="query_input" name="query_input" value="Manager" onclick="location.href='loginManager';">
        </form>
    </div>
    <div id="first_query">
        <form method="POST" id="query_form">
            <label id="query_label" for="query_input">
                    ->
            </label>
            <input type="button" id="query_input" name="query_input" value="Owner" onclick="location.href='loginOwner';">
        </form>
    </div>

    <div id="log-out-div">
        <button hidden id="log-out-button">Log out</button>
    </div>
</body>