<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/manage_drone.js" defer>
    </script>
    <link rel="stylesheet" href="styles/manage_drone.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="employees_view">Employee View</a>
        <a href="ingredients_view">Ingredients View</a>
        <a href="locations_view">Locations View</a>
        <a href="owners_view">Owners View</a>
        <a href="pilots_view">Pilots View</a>
        <a href="services_view">Services View</a>
        <a href="restaurants">Restaurants Purchase</a>
        <a href="manage_drone">Manage Drone</a>
        <a href="pilotPage">Pilot Dashboard</a>

    </div>
    <div id="container">
        <h1 id = "title">Manage Drones</h1>
    </div>
    <div id="droneDiv">
        <h1 id = "title">Drones</h1>
        <table id="droneTable" class="sortable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tag</th>
                    <th>Fuel</th>
                    <th>Capacity</th>
                    <th>Sales</th>
                    <th>Flown By</th>
                    <th>Swarm ID</th>
                    <th>Swarm Tag</th>
                    <th>Hover</th>
                    <th>Refuel Drone</th>
                    <th>Load Drone</th>
                </tr>
            </thead>
            <tbody id="testBody"></tbody>
        </table>
    </div>
    <div id="payloadDiv">
        <h1 id = "title">Payload</h1>
        <table id="payloadTable" class="sortable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tag</th>
                    <th>Barcode</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="testBody"></tbody>
        </table>
    </div>
    <div id="ingredientDiv">
        <h1 id = "title">Ingredients</h1>
        <table id="ingredientTable" class="sortable">
            <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Ingredient Name</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody id="testBody"></tbody>
        </table>
    </div>
    </div>
</body>