<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/manager_page.js" defer></script>
</head>
<body>
    <div hidden id="allow">
        <div id="container">
            <h1 id = "title">Manager Task</h1>
        </div>
        
        <div>
            <label id="manageEmployeeLabel" for="manageEmployeesPage">View employees</label>
            <input type="button" id="manageEmployeesPage" name="manageEmployeesPage" value="Manage Employees" onclick="location.href='manageEmployeesPage';">
        </div>
        <div id="first_query">
            <label id="query_label" for="query_input">Manage Service</label>
            <input type="button" id="query_input" name="query_input" value="Manage Service" onclick="location.href='manageServicePage';">
        </div>
    </div>
    <div id="deny">
        <p id="message">You are not signed in</p>
    </div>
    
</body>