<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/home.js" defer></script>
</head>
<body>
    <div id="container">
        <h1 id = "title">Owner</h1>
    </div>

    <div id="loginText">
        <label for="Name">Restaurants Owned:</label>
        <p id = "restaurantNum">Restaurant1</p>
        <!-- <input type="text" id="Name" name="Name" placeholder="Enter Username"> -->
    </div>
    <div id="fundingText">
        <label for="funding">Start funding</label>
        <input type="text" id="funded" name="funded" placeholder="Restaurant Name">
    </div>
    <div id="fundingText">
        <label for="funding">Purchase Ingredient</label>
        <input type="text" id="ingredient" name="ingredient" placeholder="Ingredient Name">
    </div>
</body>