<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title>Minimum Viable Product</title>
    <script src="scripts/services_view.js" defer>
    </script>
    <link rel="stylesheet" href="styles/services_view.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="employees_view">Employee View</a>
        <a href="ingredients_view">Ingredients View</a>
        <a href="locations_view">Locations View</a>
        <a href="owners_view">Owners View</a>
        <a href="pilots_view">Pilots View</a>
        <a href="services_view">Services View</a>
        <a href="restaurants">Restaurants Purchase</a>
        <a href="manage_drone">Manage Drone</a>
        <a href="pilotPage">Drone Management</a>
    </div>
    <div id="container">
        <h1 id = "title">Services View</h1>
        <label for="serviceID">ID:</label>
        <input type="text" id="serviceID">
        <label for="serviceName">&nbsp &nbsp Name:</label>
        <input type="text" id="serviceName">
        <label for="homebaseInput">&nbsp &nbsp Home Base:</label>
        <input type="text" id="homebaseInput">
        <label for="serviceManager">&nbsp &nbsp Manager:</label>
        <input type="text" id="serviceManager">
        <button type="button" id="clearBtn">Clear</button>
        <button type="button" id="addServiceBtn">Add Service</button>
    </div>
    <div id="serviceDiv">
        <table id="serviceTable" class="sortable">
            <thead>
                <h1> Service View Table</h1>
                <tr>
                    <th>Service ID</th>
                    <th>Name</th>
                    <th>Home Base</th>
                    <th>Manager</th>
                    <th>Revenue</th>
                    <th>Ingredients Carried</th>
                    <th>Cost Carried</th>
                    <th>Weight Carried</th>
                </tr>
            </thead>
            <tbody id="testBody"></tbody>
        </table>
        <table id="serviceTable2" class="sortable">
            <h1> Delivery Services </h1>
            <label for="inputUsername">Username: </label>
            <input type="text" id="inputUsername">
            <label for="inputServiceID">&nbsp &nbsp Service ID: </label>
            <input type="text" id="inputServiceID">
            <button type="button" id="manageServiceBtn">Manage Service</button>
            <br><br>
            <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Name</th>
                    <th>Home Base</th>
                    <th>Manager</th>
                </tr>
            </thead>
            <tbody id="testBody"></tbody>
        </table>
    </div>
    </div>
</body>